@import url('https://fonts.googleapis.com/css?family=Lobster|Play');

body {
  background: url(/assets/dark_geometric.png) repeat 0 0;
  min-height: 100%;
  font-family: 'Play', sans-serif;
}

h1{
  font-family: 'Play', sans-serif;
  margin-top: 75px;
  color:white;
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
}

h2, h3{
  font-family: 'Lobster', cursive;
}

h2, h2.subscribeHeader{
  font-size: 30px;
}
.eosLogo {
  max-width: 150px;
  display: block;
  margin: 75px auto;
}

.archive > ul > li {
  list-style-type: none;
}

.archive > ul {
  padding:0;
}

.archive, .affiliates {
  background-color: #eee;
  max-width: 500px;
  margin: 40px auto;
  border-radius: 5px;
  border: 2px solid black;
  padding: 20px;
  margin-bottom: 75px;
}

.affiliates {
  margin-bottom:25px;
}

.affiliates li{
  margin-top: 20px;
}

.line {
  border: 2px solid #f2a43e;
  border-radius: 50%;
  margin-bottom: 75px;
}

.post > div > div {
  background-color: #eee;
}

.email-octopus-form-wrapper {
  background-color: #eee;
  padding: 20px;
  display: block;
  margin: 40px auto;
  border-radius: 5px;
  border: 2px solid black;
  max-width: 500px;
}

button.subscribeButton {
  background-color: #f2a43e;
  border-radius: 5px;
  outline: none;
}

button.subscribeButton:active {
  background-color: black;
  color: white;
}
